.BlackButton{
    background-color: 'black';
    color: 'white';
    border: 'none';
    border-radius: '16px';
    height: '32px';
    padding: '8px';
    cursor: 'pointer';
    min-width: '68px';
}

