.inputPhoto{
    position: relative;
    :hover{
        cursor:pointer;
    }
    .camera{
        position:absolute;
        z-index: 1;
        opacity: 60%;
        top: 41%;
        right: 39.5%;
    }
    .preview{
        position: relative;
        background-color: #000000;
        border-radius: 50%;
        overflow: hidden;
        height: 130px;
        img{
            height: 130px;
            object-fit: cover;
            opacity: 70%;
            width: 130px;
            filter: blur(0.5px);
        }
    }
}